@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
}

#main-container {
    padding-top: 30px;
}

#titulo-producto {
    font-size: 3vw;
    color: bisque;
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px 2px #000;
    padding-bottom: 1.4vw;
}

h1 {
    margin: 0%!important;
}

#description-box {
    background-color: rgba(34, 12, 54, 0.746);
    /*height: 34vw;*/
    padding: 1vh 1.5vw 0px 1.5vw;
    color: bisque;
}

h2 {
    text-align: center;
    font-weight: bold;
}

#trailer-modal {
    background-color: rgb(34, 12, 54);
    color: bisque;
}

p {
    text-align: justify;
}

#comments-box {
    background-color: rgba(34, 12, 54, 0.534);
    padding: 1vh 2vw 0vw 2vw;
    margin-bottom: 3vw;
    font-size: 1.6vw;
    color: bisque;
}

img {
    width: auto;
    height: 40rem;
    display: block;
    border-color: white;
    border-width: 0.1vh;
    border-style: solid;
}

#buttons-range {
    padding: 1vw 0vw 1vw 0vw;
}

.btn-light {
    margin: 0vw 0vw 0vw 1vw;
}

#muy-mala:hover {
    background-color: rgb(255, 0, 34);
}

#mala:hover {
    background-color: rgb(255, 136, 0);
}

#buena:hover {
    background-color: rgb(255, 217, 0);
}

#muy-buena:hover {
    background-color: rgb(195, 255, 0);
}

#excelente:hover {
    background-color: rgb(9, 201, 9);
}

#send-button {
    text-align: center;
    margin: 1vw 0vw 2vw 0vw;
}