.bi {
    color: #fff;
}

.mas {
    color: #fff!important;
}
#h1{
    color: white;
    margin: 15% 0 15%;
}

.sliderImage {
    width: 1600px!important;
    height: 340px;
}

.carousel-indicators {
    margin-left: inherit!important;
}

#galery .col-lg-4 {
    position: relative;
    margin: 0 !important;
    padding: 1.2vh;
}

footer {
    color: white;
    background-color: rgba(34, 33, 33, 0.5);
    color: white;
}

footer:hover {
    background-color: rgba(39, 8, 68, 0.637);
    color: wheat;
}
li{
    color: #fff;
}