@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
}

.dropdown {
    float: right;
    margin: 20px;
}

#main-container {
    padding: 20px;
}

.card-img-top {
    height: 26rem;
}

.card {
    margin: 20px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#galery .col-lg-3 {
    position: relative;
    margin: 0 !important;
    padding: 1.2vh;
}

#galery img {
    width: 100%;
    height: 26rem;
    display: block;
}

.img-overlay {
    position: absolute;
    top: 2.6%;
    left: 3.5%;
    width: 93%;
    height: 95%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img-overlay-blur {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
}

.img-overlay>* {
    transform: translateY(40px);
    transition: transform 0.5s;
}

.img-overlay:hover>* {
    transform: translateY(0px);
}

.img-overlay:hover {
    opacity: 1;
}

.img-title {
    font-size: 2vw;
    text-align: center;
}

.img-subtitle {
    font-size: 1.5vw;
}