h1{
    color: rgb(88, 88, 76);
    margin-top:50px;
}
h1:hover{
    color: black;
}
span {
    background-color: yellow;
}

strong {
    color: rebeccapurple;
}

em {
    color: rebeccapurple;
}

.titulo1{
    text-align: center;
    margin: 50px 20px 40px 20px;
    
}
.titulo2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.formulario{
    width: 50%;
    margin: auto;
}

.botonEnviar{
    text-align: center;
}
